
  .color .default {
    background: #414956;
  }

  .color .blue {
    background: #4A89DC;
  }

  .color .green {
    background: #03A678;
  }

  .color .red {
    background: #ED5565;
  }

  .color .white {
    background: #fff;
  }

  .color .black {
    background: #292929;
  }
